@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@media (min-width: 0px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(375deg, rgba(254, 95, 85,0.97), rgba(119, 125, 167,0.97));
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .theme-icon {
  width: 75px;
  height: 75px;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  border:none;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
  top:20px;
  left: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.theme-icon i {
  font-size: 2em;
}
  .menu-btn{
    position: fixed;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #FE5F55, #777DA7);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  .menu-btn i {
    font-size:2em;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #777DA7;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .menu-btn {
    width: 50px;
    height: 50px;
  }
  .menu-btn i {
    font-size:unset;
    top: unset;
    position: unset;
    transform: unset;
  }
  .theme-icon {
      width: 50px;
      height: 50px;
    }

  .theme-icon i {
  font-size:unset;
}
}