/* Enter Images here */
.image-container .background-img1 {
  background-image: url("../images/davide_edited_1.jpg");
}
.image-container .img.foreground-img1 {
  background-image: url("../images/davide_1.jpg");
  width: 50%;
}

.image-container .background-img2 {
  background-image: url("../images/davide_edited_2.jpg");
}
.image-container .img.foreground-img2 {
  background-image: url("../images/davide_2.jpg");
  width: 50%;
}

.image-container .background-img3 {
  background-image: url("../images/davide_edited_3.jpg");
}
.image-container .img.foreground-img3 {
  background-image: url("../images/davide_3.jpg");
  width: 50%;
}

.image-container .background-img4 {
  background-image: url("../images/1_dominic_edited.jpg");
}
.image-container .img.foreground-img4 {
  background-image: url("../images/1_dominic_original.jpg");
  width: 50%;
}

.image-container .background-img5 {
  background-image: url("../images/2_dominic_edited.jpg");
}
.image-container .img.foreground-img5 {
  background-image: url("../images/2_dominic_original.jpg");
  width: 50%;
}

.image-container .background-img6 {
  background-image: url("../images/3_dominic_edited.jpg");
}
.image-container .img.foreground-img6 {
  background-image: url("../images/3_dominic_original.jpg");
  width: 50%;
}

.image-container .background-img7 {
  background-image: url("../images/philippe_edited_1.jpg");
}
.image-container .img.foreground-img7 {
  background-image: url("../images/philippe_1.jpg");
  width: 50%;
}

.image-container .background-img8 {
  background-image: url("../images/philippe_edited_2.jpg");
}
.image-container .img.foreground-img8 {
  background-image: url("../images/philippe_2.jpg");
  width: 50%;
}

.image-container .background-img9 {
  background-image: url("../images/philippe_edited_3.jpg");
}
.image-container .img.foreground-img9 {
  background-image: url("../images/philippe_3.jpg");
  width: 50%;
}
@media (min-width: 0px) {
  .container.image-comparison {
    display: none;
  }

}
/* Enter Images here end */
@media (min-width: 768px) {
  .container.image-comparison {
    display: inherit;
  }
  .image-container {
    position: relative;
    width: 730px;
    height: 545px;
    margin-bottom: 3rem;
  }
  .image-container-vertical{
    width: 545px!important;
    height: 730px!important;
  } 

  .image-container .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 730px 100%;
  }

  .image-container-vertical .img-vertical {
    background-size: 545px 100%;
  }

  .image-container .slider1,
  .image-container .slider2,
  .image-container .slider3,
  .image-container .slider4,
  .image-container .slider5,
  .image-container .slider6,
  .image-container .slider7,
  .image-container .slider8,
  .image-container .slider9 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0);
    outline: none;
    margin: 0;
    transition: all 0.2s;
  }
  .image-container input[class^="slider"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 545px;
    cursor: pointer;
  }
  .image-container .slider6::-webkit-slider-thumb,
  .image-container .slider7::-webkit-slider-thumb {
  	height: 730px!important;
  }

  .image-container input[class^="slider"]::-moz-range-thumb {
    width: 6px;
    height: 545px;
    background: white;
    cursor: pointer;
  }
  .image-container .slider6::-moz-range-thumb,
  .image-container .slider7::-moz-range-thumb {
  	height: 730px!important
  }

  .image-container div[class^="slider-button"] {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
  }
  .image-container div[class^="slider-button"]:before,
  .image-container div[class^="slider-button"]:after {
    content: "";
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
  }
  .image-container div[class^="slider-button"]:after {
    transform: rotate(-45deg);
    position: relative;
    left: 21%;
    top:5%;
  }
  .image-container div[class^="slider-button"]:before {
    transform: rotate(135deg);
    position: relative;
    left: 25%;
    top:5%;
  }

  .picture-comparison {
  	width: 100%
  }

  .image-comparison h2 {
  	margin-top:2rem;
  }

  .image-comparison h4 {
  	margin-top:-1.5rem;
  }

  .image-comparison h4.first-h4 {
  	margin-top: -1.5em;
  }

  .image-comparison h5{
  	margin-top:2rem;
  }
  .image-comparison p {
    margin-bottom: 3em;
  }
}
@media (min-width: 1200px) { 
  .image-comparison h2 {
    margin-top:2rem;
  }

  .image-comparison h4 {
    margin-top:2.5rem;
  }

  .image-comparison h4.first-h4 {
    margin-top: 7.5em;
  }

  .image-comparison h5{
    margin-top:2rem;
  }
  .image-comparison p {
    margin-bottom: 1rem;
  }
}