.header-image {
  height: 100vh;
}

.header-image img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.header-image .container {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.header-image p,
.header-image h1 {
  color:white;
}

.container.landingpage h2 {
  margin-top: 6rem;
}

.container.landingpage {
  top:100vh;
}

.header-image .button-transparent {
  color:white!important;
  border-color: white!important;
}

.header-image .button-transparent:hover {
  color:black!important;
  background-color: white!important;
  text-decoration: none;
}

.button-transparent {
    display: inline-block;
    padding: 12px 38px;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: black!important;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 12%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}


.button-transparent:hover {
    transform: scale(1.05);
    color: white!important;
    background-color: black;
}